@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold); 

body{
  font-family: 'SoDo Sans Semibold',sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.50em;
  border-bottom: 3px solid #d9d9d9ef;
}
img{
  max-width: 100%;
  height: auto;
}
.sb-logo{
  width: 8%;
}
.navi{
  display: flex;
  align-items: center;
  gap: 1em;
}
.menu{
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1em;
}
.right{
  gap: 4em;
}
.elements{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.button{
  display: inline-block;
  font-family: inherit;
  font-size: 0.9rem;
  border-radius: 50px;
  border: solid 1px;
  padding: 0.5em 0.9em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.sign{
  background-color: white;
}
.join{
  background-color: black;
  color: white;
}
main{
  margin-top: 2em;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.prod-pic{
  width: 50%;
}
.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-element{
  display: flex;
}
.elements-{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% * (6 / 12));
  padding: 0.4rem;
  gap: 1rem;
  line-height: 1.2;
}
.item1{
  color: #1e3932;
  background-color: #cfd84d;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2.40rem;
  text-align: center;
}
.rich-text{
  font-size: 3rem;
  letter-spacing: 2px;
}
.sub-text{
  font-size: 1.4rem;
  font-weight: 100;
}


