@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold); 

body{
  font-family: 'SoDo Sans Semibold',sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  text-align: center;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.50em;
  border-bottom: 3px solid #d9d9d9ef;
}
img{
  max-width: 100%;
  height: auto;
}
.sb-logo{
  width: 8%;
}
.navi{
  display: flex;
  align-items: center;
  gap: 1em;
}
.menu{
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1em;
}
.right{
  gap: 4em;
}
.elements{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.button{
  display: inline-block;
  font-family: inherit;
  font-size: 0.9rem;
  border-radius: 50px;
  border: solid 1px;
  padding: 0.5em 0.9em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.sign{
  background-color: white;
}
.join{
  background-color: black;
  color: white;
}
main{
  margin-top: 2em;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.prod-pic{
  width: 50%;
}
.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  border-bottom: 3px solid #d9d9d9ef;
}
.content-element{
  display: flex;
}
.elements-{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% * (6 / 12));
  padding: 0.4rem;
  gap: 1rem;
  line-height: 1.2;
}
.item1{
  color: #1e3932;
  background-color: #cfd84d;
}
.item2{
  background-color: #a5c4dc;
}
.item3{
  color: #552200;
  background-color: #fdd8f7;
  flex-direction: column;
}
.item4{
  background-color: #d0d84f;
  color:  #1e3932;
}
.item5{
  background-color: #1e3932;
  color: #ffffff;
}
.item6{
  background-color: #006241;
  color: #ffffff;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2.2rem;
  text-align: center;
}
.rich-text{
  font-size: 3rem;
  letter-spacing: 2px;
}
.sub-text{
  font-size: 1.4rem;
}
.fo-si-24{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
.fo-si-19{
  text-align: center;
  font-size: 19px;
  line-height: 1.75;
  letter-spacing: 0.1rem;
}
.sub-text > span{
  display: flex;
  flex-direction: column;
}
.last{
  width: 50%;
  text-align: center;
  padding: 1rem;
}
.elements-text{
  font-size: 14px;
  line-height: 1.8;
}
.footer-main{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2.50rem;
}
.footer-list{
  display: flex;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  gap: 2rem;
}
.footer-main li{
  font-size: 0.9rem;
  color: gray;
}
.footer-elements{
  display: flex; 
}
.sb-bar{
  color: #e5e5e5;
  margin: 0;
  padding: 0;
}
.footer-icon{
  display: flex;
  flex-direction: row;
  gap: 1.50em;
}
.footer-terms{
  display: flex;
  gap: 3em;
}
.footer-terms li{
  font-size: 1.2em;
  color: black;
  font-weight: 400;

}
.footer-terms span{
  color: #6b6b6b;
}
.copy{
  text-align: start;
  color: #6b6b6b;
}




